%nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
  .position-sticky.pt-3.sidebar-sticky
    %ul.nav.flex-column
      %li.nav-item
        %a.nav-link{href: root_path, class: active_link(root_path)}
          %span.align-text-bottom
          Dashboard
      %li.nav-item
        %a.nav-link{href: bookings_path, class: active_link(bookings_path)}
          %span.align-text-bottom
          Bookings
      %li.nav-item
        %a.nav-link{href: history_index_path, class: active_link(history_index_path)}
          %span.align-text-bottom
          History
      %li.nav-item
        %a.nav-link{href: search_index_path, class: active_link(search_index_path)}
          %span.align-text-bottom
          Search
      %li.nav-item
        %a.nav-link{href: vehicles_path, class: active_link(vehicles_path)}
          %span.align-text-bottom
          Vehicles
